In [ ]:
# Import necessary libraries
from sqlalchemy import create_engine, Column, Integer, String, Date, func, desc
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import pandas as pd

In [ ]:

# Establish a connection to the PostgreSQL database using SQLAlchemy
engine = create_engine('postgresql://postgres:postgres@localhost:5432/Pwelet Hackard Emps')
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()

In [ ]:

# Define table classes based on the schema
class Title(Base):
    __tablename__ = 'titles'
    title_id = Column(String, primary_key=True)
    title = Column(String)

class Employee(Base):
    __tablename__ = 'employees'
    emp_no = Column(Integer, primary_key=True)
    emp_title_id = Column(String, nullable=False)
    birth_date = Column(Date)
    first_name = Column(String, nullable=False)
    last_name = Column(String, nullable=False)
    sex = Column(String)
    hire_date = Column(Date, nullable=False)

class Department(Base):
    __tablename__ = 'departments'
    dept_no = Column(String, primary_key=True)
    dept_name = Column(String)

class DepartmentEmployee(Base):
    __tablename__ = 'dept_emp'
    emp_no = Column(Integer, nullable=False)
    dept_no = Column(String, nullable=False)
    primary_key = Column(Integer, primary_key=True)

class DepartmentManager(Base):
    __tablename__ = 'dept_manager'
    dept_no = Column(String, nullable=False)
    emp_no = Column(Integer, nullable=False)
    primary_key = Column(Integer, primary_key=True)

class Salary(Base):
    __tablename__ = 'salaries'
    emp_no = Column(Integer, primary_key=True)
    salary = Column(Integer)

In [ ]:
# List the employee number, last name, first name, sex, and salary of each employee.
result1 = session.query(Employee.emp_no, Employee.last_name, Employee.first_name, Employee.sex, Salary.salary)\
    .join(Salary, Employee.emp_no == Salary.emp_no)\
    .all()
print("Employee Details:")
for emp_no, last_name, first_name, sex, salary in result1:
    print(f"Employee Number: {emp_no}")
    print(f"Last Name: {last_name}")
    print(f"First Name: {first_name}")
    print(f"Sex: {sex}")
    print(f"Salary: {salary}")
    print("----------------------")

In [ ]:

# List the first name, last name, and hire date for the employees who were hired in 1986.
result2 = session.query(Employee.first_name, Employee.last_name, Employee.hire_date)\
    .filter(Employee.hire_date.between('01/01/1986', '12/31/1986'))\
    .all()
print("Employees Hired in 1986:")
for first_name, last_name, hire_date in result2:
    print(f"First Name: {first_name}")
    print(f"Last Name: {last_name}")
    print(f"Hire Date: {hire_date}")
    print("----------------------")

In [ ]:

# List the manager of each department along with their department number, department name, employee number, last name, and first name.
result3 = session.query(DepartmentManager.dept_no, Department.dept_name, DepartmentManager.emp_no, Employee.last_name, Employee.first_name)\
    .select_from(DepartmentManager)\
    .join(Department, DepartmentManager.dept_no == Department.dept_no)\
    .join(Employee, DepartmentManager.emp_no == Employee.emp_no)\
    .all()

print("Department Managers:")
for dept_no, dept_name, emp_no, last_name, first_name in result3:
    print(f"Department Number: {dept_no}")
    print(f"Department Name: {dept_name}")
    print(f"Manager Employee Number: {emp_no}")
    print(f"Manager Last Name: {last_name}")
    print(f"Manager First Name: {first_name}")
    print("----------------------")

In [ ]:

# List the department number for each employee along with that employeeâ€™s employee number, last name, first name, and department name.
result4 = session.query(DepartmentEmployee.dept_no, DepartmentEmployee.emp_no, Employee.last_name, Employee.first_name, Department.dept_name)\
    .select_from(DepartmentEmployee)\
    .join(Employee, DepartmentEmployee.emp_no == Employee.emp_no)\
    .join(Department, DepartmentEmployee.dept_no == Department.dept_no)\
    .all()

print("Department Employees:")
for dept_no, emp_no, last_name, first_name, dept_name in result4:
    print(f"Department Number: {dept_no}")
    print(f"Employee Number: {emp_no}")
    print(f"Last Name: {last_name}")
    print(f"First Name: {first_name}")
    print(f"Department Name: {dept_name}")
    print("----------------------")

In [ ]:

# List first name, last name, and sex of each employee whose first name is Hercules and whose last name begins with the letter B.
result5 = session.query(Employee.first_name, Employee.last_name, Employee.sex)\
    .filter(Employee.first_name == 'Hercules', Employee.last_name.like('B%'))\
    .all()
print("Employees with First Name Hercules and Last Name Starting with B:")
for first_name, last_name, sex in result5:
    print(f"First Name: {first_name}")
    print(f"Last Name: {last_name}")
    print(f"Sex: {sex}")
    print("----------------------")

In [ ]:

# List each employee in the Sales department, including their employee number, last name, and first name.
result6 = session.query(Employee.emp_no, Employee.last_name, Employee.first_name)\
    .select_from(Employee)\
    .join(DepartmentEmployee, Employee.emp_no == DepartmentEmployee.emp_no)\
    .join(Department, DepartmentEmployee.dept_no == Department.dept_no)\
    .filter(Department.dept_name == 'Sales')\
    .all()

print("Employees in the Sales Department:")
for emp_no, last_name, first_name in result6:
    print(f"Employee Number: {emp_no}")
    print(f"Last Name: {last_name}")
    print(f"First Name: {first_name}")
    print("----------------------")

In [ ]:
# List each employee in the Sales and Development departments, including their employee number, last name, first name, and department name.
result7 = session.query(Employee.emp_no, Employee.last_name, Employee.first_name, Department.dept_name)\
    .select_from(Employee)\
    .join(DepartmentEmployee, Employee.emp_no == DepartmentEmployee.emp_no)\
    .join(Department, DepartmentEmployee.dept_no == Department.dept_no)\
    .filter(Department.dept_name.in_(['Sales', 'Development']))\
    .all()

print("Employees in the Sales and Development Departments:")
for emp_no, last_name, first_name, dept_name in result7:
    print(f"Employee Number: {emp_no}")
    print(f"Last Name: {last_name}")
    print(f"First Name: {first_name}")
    print(f"Department Name: {dept_name}")
    print("----------------------")

In [ ]:
# List the frequency counts, in descending order, of all the employee last names
result8 = session.query(Employee.last_name, func.count(Employee.last_name).label('frequency'))\
    .group_by(Employee.last_name)\
    .order_by(desc('frequency'))\
    .all()

print("Frequency counts of employee last names:")
for last_name, frequency in result8:
    print(f"Last Name: {last_name}")
    print(f"Frequency: {frequency}")
    print("----------------------")